body {
    font-family: sans-serif;
}

nav {
    border: 1px solid black;
}


nav ul {
    margin-bottom: 0;
    padding: 2% 0;
}

nav ul li {
    display: inline-block;
    width: 12%;
    height: 100%;
}

nav ul li a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    width: 90%;
    margin: 0 auto;
}

.logo {
    height: 100%;
    display: inline-block;
}

.logo img {
    width: 250px;
    max-width: 90%;
}

.top-banner {
    padding: 2%;
}

ul.legend li{
    float: left;
    width: 25%;
    padding: 10px;
    color: #333;
}

ul.legend li img{
    width: 15px;
}

.fa-circle{
    color: green;
}

.fa-square{
    color: blue;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 2% 0;
}

/* WEATHER WIDGET!!!!! ================== */

#weather {
    display: inline-block;
    float: right;
}

#weather h2 {
    display: inline-block;
    margin-top: 0;
    height: 100%;
    vertical-align: middle;
}

#weather ul {
    display: inline-block;
    list-style-type: none;
    margin-top: 15px
}

/* ============================ end weather widget */

/* SVG MAP ===================================== */

[class^=st1905]:hover {
    stroke-width: 15;
}

/* end svg map ================================== */

/* TOOLTIP STYLES ==============================*/

.tooltipster-box {
    text-transform: capitalize;
}

/* end tooltip styles ========================== */